<%= render 'devise/generic' do %>
  <img src="https://beatoftheday1.s3.us-west-1.amazonaws.com/Logo.svg" alt="logo" class="mt-12 mx-auto sm:hidden" />
  <h2 class="mt-8 mb-2 text-3xl text-black font-bold font-sans">Welcome</h2>
  <h6 class="mb-8 text-base text-black font-normal font-sans">Signup and let’s play Music Together.</h6>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="mb-4 w-full">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
    <div class="mb-4 w-full">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border border-b-color rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-primary" %>
    </div>

    <div class="mb-4 w-full">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="artist_name">Artist Name</label>
        <%= f.text_field :artist_name, autocomplete: "artist_name", class: "shadow appearance-none border border-b-color rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-primary" %>
    </div>

    <div class="mb-4 w-full">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
      <%= f.password_field :password, autocomplete: "current-password", class: "shadow appearance-none border border-b-color rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-primary" %>
    </div>

    <div class="new-actions">
      <%= f.submit "Signup", class: "w-full text-white text-xl font-semibold py-3 bg-primary hover:bg-primary-light" %>
    </div>
  <% end %>
  <p class="mt-11 text-black font-normal text-sm">Already have an account?
    <%= link_to "Login", new_session_path(resource_name), class: "text-primary font-normal text-sm hover:text-primary-light" %> 
  </p>
<% end %>
