<%= render 'pages/generic' do %>
  <script>
    (function(){
      window.B_R_E_A_K_P_O_I_N_T = 994;
      window.__page_unit__ = 12;
      window.__good_height__ = window.innerWidth > window.B_R_E_A_K_P_O_I_N_T ? '400px' : '271px';
      window.ENV = "<%= Rails.env %>"
      var hourOfTheDay = (new Date()).getHours();
      if (window.ENV === "production") {
        if ((hourOfTheDay < 6 || hourOfTheDay > 20 )&& window.location.host !== "www.beatofthenight.com") {
          window.location = "https://www.beatofthenight.com" + window.location.pathname;
        } else if ((hourOfTheDay > 6 && hourOfTheDay < 20) && window.location.host !== "www.beatoftheday.org") {
          window.location = "https://www.beatoftheday.org" + window.location.pathname;
        }
      };
    })();
  </script>
  <%= react_component("Home", @options, { current_user: current_user }) %>
<% end %>

