<%= render 'devise/generic' do %>
  <img src="https://beatoftheday1.s3.us-west-1.amazonaws.com/Logo.svg" alt="logo" class="mt-12 mx-auto sm:hidden" />
  <h2 class="mt-8 mb-2 text-3xl text-black font-bold font-sans">Welcome Back!</h2>
  <h6 class="mb-8 text-base text-black font-normal font-sans">Login In and let’s play Music Together.</h6>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-4 w-full">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border border-b-color rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-primary" %>
    </div>

    <div class="mb-4 w-full">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
      <%= f.password_field :password, autocomplete: "current-password", class: "shadow appearance-none border border-b-color rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-primary" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="flex justify-between mb-7">
        <div class="flex">
          <span class="mr-1 md:mr-2"><%= f.check_box :remember_me, class: "w-4 h-4 border-2 border-b-color" %></span>
          <%= f.label :remember_me, class: "flex items-baseline md:items-center text-sm font-light text-black cursor-pointer" %>
        </div>
        <%= link_to "Forgot password?", new_password_path(resource_name), class: "text-primary font-normal text-sm hover:text-primary-light" %>
      </div>
    <% end %>

    <div class="new-actions">
      <%= f.submit "Log in", class: "w-full text-white text-xl font-semibold py-3 bg-primary hover:bg-primary-light" %>
    </div>
  <% end %>
  <p class="mt-11 text-black font-normal text-sm">Not Registered yet? 
    <%= link_to "Create an Account", new_registration_path(resource_name), class: "text-primary font-normal text-sm hover:text-primary-light" %>
  </p>
<% end %>
