<div class="flex w-full h-screen overflow-y-hidden">
  <div class="bg-hero-pattern bg-cover bg-no-repeat w-1/2 h-screen hidden sm:block">
    <img src="<%= asset_path('logo.png') %>" class="mx-auto mt-16" />
    <img src="<%= asset_path('title.png') %>" class="mx-auto mt-7 px-6 md:px-0" />
    <img src="<%= asset_path('sub-title.png') %>" class="mx-auto mt-3.5 px-6 md:px-0" />
  </div>
  <div class="w-full sm:w-1/2 h-screen">
    <div class="w-full px-8 md:px-10 lg:px-20 md:w-full mx-auto">
      <%= yield %>
    </div>
  </div>
</div>
