<!DOCTYPE html>
<html>
  <head>
    <title><%= @options[:page_title].present? ? @options[:page_title] : 'Beat of the Day'%></title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <meta name=viewport content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- For Google -->
    <meta name="description" content="A community of people to play music with" />
    <meta name="keywords" content="music community guitar drums piano bass ableton logic" />

    <meta name="author" content="<%= @options[:page_title].present? ? @options[:page_title] : 'Beat of the Day'%>" />
    <meta name="copyright" content="<%= @options[:page_title].present? ? @options[:page_title] : 'Beat of the Day'%>" />
    <meta name="application-name" content="Beat of the Day" />

    <!-- For Facebook -->
    <meta property="og:title" content="<%= @options[:page_title].present? ? @options[:page_title] : 'Beat of the Day'%>" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= @options[:page_photo].present? ? @options[:page_photo] : 'https://beatoftheday.s3-us-west-1.amazonaws.com/beatofthedaylogo.jpg'%>" />
    <meta property="og:url" content="https://www.beatoftheday.org/" />
    <meta property="og:description" content="A community of people to play music with" />

    <!-- For Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%= @options[:page_title].present? ? @options[:page_title] : 'Beat of the Day'%>" />
    <meta name="twitter:description" content="A community of people to play music with" />
    <meta name="twitter:image" content="<%= @options[:page_photo].present? ? @options[:page_photo] : 'https://beatoftheday.s3-us-west-1.amazonaws.com/beatofthedaylogo.jpg'%>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'new_style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'new_style', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!--Adding tailwind for approval and demo purpose-->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body>
    <script>window._current_user = JSON.parse('<%= current_user.present? && current_user.slice(:id).to_json %>'.replace(/\&quot\;/g, '"'))</script>
    <%= yield %>
  </body>
</html>
